*{
    font-family: 'Poppins', sans-serif !important;
}
body{
    margin: 0;
    overflow-y: hidden;
}
.addgesture{
    background-image: url("../../assets/background.jpg");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 100vh;
}
.addgesture-container{
    text-align: -webkit-center;
    position: relative;
    top: 15%;    
}
.addgesture-button{
    background-color: #2AD5F1;
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    padding: auto 20px;
    min-width: 40%;
}
.addgesture-button:disabled{
    opacity: 0;
}
.recording {
	color: transparent;
	padding: 5px;
	margin: 6px auto;
	width: fit-content;
}
video {
	background-color: rgba(245, 245, 245, 0.281);
	display: block;
	width: 300px;
	height: 240px;
}