*{
    font-family: 'Poppins', sans-serif !important;
}
body{
    margin: 0;
}
/* BODY */
.body{
    background-image: url("../assets/background.jpg");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 100vh;
}
/* CONTAINER */
.container{
    text-align: -webkit-center;
    position: relative;
    top: 15%;
}
/* BUTTON */
.button-group{
    border-radius: 20px;
    background-color:white;
    border: solid 10px #e6e6e6;
    padding: 20px;
    margin: auto;
}
.button{
    background-color: #2AD5F1;
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
}
/* NAVBAR */
.navbar{
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-color: #2ad5f138;
    align-items: center;
}

.menu-item{
    color: white;
    font-size: 16px;
    font-weight: 300;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.menu-item:hover{
    transform: scale(1.1);
}
.menu-item > a{
    color: white;
    text-decoration: none;
}