*{
    font-family: 'Poppins', sans-serif !important;
}
body{
    margin: 0;
    overflow-y: hidden;
}

h1 {
    color: orange;
}

.gesture{
    background-image: url("../../assets/background.jpg");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 100vh;
}
.gesture-container{
    text-align: -webkit-center;
    position: relative;
    top: 15%;    
}
.gesture-navbar{
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-color: #2ad5f138;
    align-items: center;
}

.gesture-menu-item{
    color: white;
    font-size: 16px;
    font-weight: 300;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.gesture-menu-item:hover{
    transform: scale(1.1);
}

.gesture-menu-item > a{
    color: white;
    text-decoration: none;
}

.gesture-button-group{
    display: grid;
    width: 50%;
    border-radius: 20px;
    background-color:white;
    border: solid 10px #e6e6e6;
    padding: 20px;
    margin: auto;
    height: 40%;
}
.gesture-buttons-container{
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
}
.gesture-buttons{
    background-color: #2AD5F1;
    color: white;
    border: none;
    font-weight: 700;
    min-width: 60%;
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    /* width: 150px; */
}