.gesture-button-group{
    display: grid;
    width: 50%;
    border-radius: 20px;
    background-color:white;
    border: solid 10px #e6e6e6;
    padding: 20px;
    margin: auto;
    height: 40%;
}
.gesture-buttons-container{
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
}
.button{
    min-width: 60%;
}