.gestureBody{
    display: flex;
}

.grid-left{
    width: 30%;
    background-color: #A2CFD2;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    color: white;
    font-size: 25px;
    font-weight: 900;
}

.backIcon{
    width: 50px;
    height: 50px;
    background-image: url('../../assets/backIcon.svg');
    background-size: 50px;
}

.gestureIcon{
    width: 50px;
    height: 50px;
    background-image: url('../../assets/gestureIcon.svg');
    background-size: 50px;
}

.grid-right{
    width:70%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.gestureSimpleButton{
    text-align: center;
    border: 2px;
    border-color: #A2CFD2;
    /* color: #A2CFD2; */
    /* background-color: #92EBF1; */
    border-style: solid;
    padding-top: 20px;
    margin-bottom: 20px;
    border-radius: 35px;
    padding: 20px;
    cursor: pointer;
}

.gestureSimpleButton:hover{
    background-color: #A2CFD2;
}

.gestureLaunchButton{
    text-align: center;
    background: linear-gradient(90deg, #92EBF1 0%, #86FDE8 100%, #86FDE8 100%);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 35px;
    padding: 20px;
    cursor: pointer;
}

.gestureLaunchButton:hover{
    /* background-color: #A2CFD2;    */
}

.gesture-stop-button{
    background: #bd6c76;
}

.gesture-start-sidePane{
    background: #bd6c76;
}