.button-group{
    display: grid;
    width: 50%;
    height: 40%;
}
.gesture-buttons-container{
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
}
.button{
    min-width: 60%;
}