body {
    margin: 0;
}

/* CONTAINER */
.container {
    min-height: 100vh;
    display: flex;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
    background-image: url("../../assets/bg.png");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 100vh;
}

.brand-name {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 300;
    line-height: 26px;
    color: #000000;
    margin: 50px;
}
#eaves{
    font-weight: 600;
}

.tagline {
    height: 156px;
    font-family: 'Patua One';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: #2F2F2F;
    margin-left: 50px;
    margin-top: 100px;
    margin-right: 30px;
}
#keys-mice{
    background: linear-gradient(to right,#80D6E3,#E89AAB);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.sub-tagline {
    margin-left: 50px;
    margin-top: 100px;
    margin-right: 30px;
    height: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #9A9EA5;
}

.button-group {
    display: flex;
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 50px;
}

.button-container{
    margin-right: 30px;
}
.button {
        text-align: center;
        background: linear-gradient(270deg, #6ADEE6 0.13%, #9DCFCB 118.58%);
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        padding: 20px;
        cursor: pointer;
        color: white;
        border: none;
        outline: none;
        min-width: 150px;
}
.button:hover{
    opacity: 80%;
}