*{
    font-family: 'Poppins', sans-serif !important;
}
body{
    margin: 0;
}

h1 {
    color: orange;
}

.home-container{
    text-align: -webkit-center;
    height: 100vh;
    display: flex;
    align-items: center;
    /* background-color:#F6F5F6; */
    background-image: url("../../assets/background.jpg");
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.home-button-group{
    display: grid;
    width: 50%;
    background-color: white;
    border: solid 10px #e6e6e6;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    height: 40%;
    
}

.home-buttons-container{
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
}
.button{
    min-width: 40%;
}